@keyframes fadein {
  from { filter: opacity(0.0); }
    to { filter: opacity(1.0); }
}

.app {
  color: #456;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  background: linear-gradient(120deg, var(--color-bg), var(--color-unc-campus-sandstone));
}

header, footer {
  background-color: #222;
  color: #eee;
  filter: drop-shadow(0 0 6px #00000066);
  text-align: center;
}

header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  img {
    margin: 1rem;
  }
}

footer .container {
  padding: 1rem;
}

.main-nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  & > a {
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & > a.active {
    color: #eee;
  }
  & > a:hover {
    background-color: #222;
  }
}

main {
  flex: 1;
  position: relative;
}

.container {
  max-width: 800px;
  margin: auto;
}

.main-content {
  animation: fadein 250ms ease-out;
  padding-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}
h1 {
  color: var(--color-renci);
  font-size: 300%;
  font-weight: 400;
}
h2 {
  color: #456;
  font-size: 200%;
  font-weight: 400;
}
h3 {
  color: #567;
  font-size: 150%;
}
h4 {
  color: #678;
  font-size: 130%;
}
h5 {
  color: #688;
  font-size: 120%;
}
h6 {
  color: #788;
  font-size: 110%;
}

p {
  line-height: 1.75;
  margin-bottom: 2rem;
}

a, a:active, a:visited {
  transition: filter 250ms;
  color: var(--color-renci);
  text-underline-offset: 3px;
  text-decoration-color: var(--color-renci);
}

a:hover {
  filter: brightness(1.25);
}

// code blocks

pre, code {
  padding: 0.5rem;
  line-height: 2;
  border-radius: 4px;
  background-color: var(--color-renci-dark);
  color: var(--color-unc-campus-sandstone);
}

code {
  padding: 0.25rem;
}
